.row{
    padding: 20px;
    color: black
}
div{
    background-color: rgb(212, 126, 60);
}

h1, h3 {
    display: inline;
    text-align: center;
    color: black;
}

h2{
    text-align: center;
}

h5{
    text-align: center;
    margin-top: 10px;
    color: black;
}

.btn{
    margin-top: 10px;
}