<div class="row"> 
    <h1> Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
        [percent]="90"
        [radius]="100"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="100"
        [imageWidth]="100"
        [showUnits]="false"
        [showSubtitle]="false"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="2"
        [outerStrokeColor]="'#fc531c'"
        [innerStrokeColor]="'#f98d65'"
        [animation]="true"
        [animationDuration]="700"
        ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
            [percent]="80"
            [radius]="100"
            [imageSrc]="'../assets/css.png'"
            [showImage]="true"
            [imageHeight]="100"
            [imageWidth]="100"
            [showUnits]="false"
            [showSubtitle]="false"
            [outerStrokeWidth]="16"
            [innerStrokeWidth]="2"
            [outerStrokeColor]="'#044cec'"
            [innerStrokeColor]="'#0463f3'"
            [animation]="true"
            [animationDuration]="700"
            ></circle-progress>
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [percent]="80"
                [radius]="100"
                [imageSrc]="'../assets/angular.png'"
                [showImage]="true"
                [imageHeight]="100"
                [imageWidth]="100"
                [showUnits]="false"
                [showSubtitle]="false"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="2"
                [outerStrokeColor]="'#dc0434'"
                [innerStrokeColor]="'#cc1641'"
                [animation]="true"
                [animationDuration]="700"
                ></circle-progress>
            </div>
            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                <circle-progress
                    [percent]="80"
                    [radius]="100"
                    [imageSrc]="'../assets/javascript.png'"
                    [showImage]="true"
                    [imageHeight]="100"
                    [imageWidth]="100"
                    [showUnits]="false"
                    [showSubtitle]="false"
                    [outerStrokeWidth]="16"
                    [innerStrokeWidth]="2"
                    [outerStrokeColor]="'#fbdc3a'"
                    [innerStrokeColor]="'#fbdc3a'"
                    [animation]="true"
                    [animationDuration]="700"
                    ></circle-progress>
                </div>
                <div class="text-center col-sm-4 col-md-4 col-lg-4">
                    <circle-progress
                        [percent]="80"
                        [radius]="100"
                        [imageSrc]="'../assets/java.png'"
                        [showImage]="true"
                        [imageHeight]="100"
                        [imageWidth]="100"
                        [showUnits]="false"
                        [showSubtitle]="false"
                        [outerStrokeWidth]="16"
                        [innerStrokeWidth]="2"
                        [outerStrokeColor]="'#5a88a5'"
                        [innerStrokeColor]="'#dc8f32'"
                        [animation]="true"
                        [animationDuration]="700"
                        ></circle-progress>
                    </div>
                    <div class="text-center col-sm-4 col-md-4 col-lg-4">
                        <circle-progress
                            [percent]="90"
                            [radius]="100"
                            [imageSrc]="'../assets/mysql.png'"
                            [showImage]="true"
                            [imageHeight]="100"
                            [imageWidth]="100"
                            [showUnits]="false"
                            [showSubtitle]="false"
                            [outerStrokeWidth]="16"
                            [innerStrokeWidth]="2"
                            [outerStrokeColor]="'#048070'"
                            [innerStrokeColor]="'#f88040'"
                            [animation]="true"
                            [animationDuration]="700"
                            ></circle-progress>
                        </div>
                        <div class="text-center col-sm-4 col-md-4 col-lg-4">
                            <circle-progress
                                [percent]="100"
                                [radius]="100"
                                [imageSrc]="'../assets/TrabajoEnEquipo.png'"
                                [showImage]="true"
                                [imageHeight]="100"
                                [imageWidth]="100"
                                [showUnits]="false"
                                [showSubtitle]="false"
                                [outerStrokeWidth]="16"
                                [innerStrokeWidth]="2"
                                [outerStrokeColor]="'#a4a4a4'"
                                [innerStrokeColor]="'#b4b4b4'"
                                [animation]="true"
                                [animationDuration]="700"
                                ></circle-progress>
                            </div>
                            <div class="text-center col-sm-4 col-md-4 col-lg-4">
                                <circle-progress
                                    [percent]="100"
                                    [radius]="100"
                                    [imageSrc]="'../assets/Comunicacion.png'"
                                    [showImage]="true"
                                    [imageHeight]="100"
                                    [imageWidth]="100"
                                    [showUnits]="false"
                                    [showSubtitle]="false"
                                    [outerStrokeWidth]="16"
                                    [innerStrokeWidth]="2"
                                    [outerStrokeColor]="'#bc532f'"
                                    [innerStrokeColor]="'#f4bc5c'"
                                    [animation]="true"
                                    [animationDuration]="700"
                                    ></circle-progress>
                                </div>
                        <div class="text-center col-sm-4 col-md-4 col-lg-4">
                            <circle-progress
                                [percent]="100"
                                [radius]="100"
                                [imageSrc]="'../assets/Liderazgo.png'"
                                [showImage]="true"
                                [imageHeight]="100"
                                [imageWidth]="100"
                                [showUnits]="false"
                                [showSubtitle]="false"
                                [outerStrokeWidth]="16"
                                [innerStrokeWidth]="2"
                                [outerStrokeColor]="'#ec3c17'"
                                [innerStrokeColor]="'#fbdb8b'"
                                [animation]="true"
                                [animationDuration]="700"
                                ></circle-progress>
                            </div>
                            

</div>

