<div class="row">
    <div>
 <img src="../../../assets/Perfil.jpg" class="img-fluid" id="perfil">
    </div>
    <div class="nombre">
        <p> {{persona.nombre}} {{persona.apellido}}</p>
        <p> Full Stack Developer Jr</p>
    </div>
    <div>
        <span>
            <h1> Acerca de </h1>
            <p> Hola, mi nombre es Matias Cabrera, soy un recién graduado como Full Stack Web Developer Jr. El stack que manejo es Angular, Javascript, Java, SpringBoot y MySql. Tengo experiencia práctica en el desarrollo de aplicaciones web y Rest APIs. Actualmente me encuentro cursando la carrera Ingenieria en Sistemas de Información donde colabore en proyectos de equipo y desarrollé mis habilidades de comunicación. Soy un apasionado de la tecnología, la programación y estoy deseando continuar mi trayecto laboral en esta área.</p>
        </span>
    </div>
</div>

